<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="{{ static `wasm_exec.js` }}"></script>
		<script>
			const go = new Go()
			WebAssembly.instantiateStreaming(
				fetch('{{ static `moul.wasm` }}'),
				go.importObject
			).then((result) => {
				go.run(result.instance)
			})
		</script>
	</head>
	<body></body>
</html>
