@import '../node_modules/photoswipe/dist/photoswipe.css';

.collection {
	margin: 0 auto 64px;
	position: relative;
}
.collection figure {
	margin: 0;
}
.collection figure a {
	display: block;
	font-size: 0;
	float: left;
}
.collection figure a img {
	position: absolute;
}

.pswp__ui,
.pswp__button,
.pswp__ui .pswp__ui--fit {
	display: none !important;
}
