<section
	class="w-full h-[350px] md:h-[450px] lg:h-[600px] xl:h-[650px] relative mb-16"
>
	<picture class="absolute top-0 left-0 w-full h-full">
		<img
			src="data:image/jpeg;charset=utf-8;base64,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgoBAgICAgICBQMDBQoHBgcKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCv/AABEIAAsAEAMBIgACEQEDEQH/xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AMj4Y/GnwDqTrGmsQn5v+egr1Xxp8QvAf/CE4bV4fuf89BX8+XgP4yfFXwzrUDaL4/1WLdKoKtds64JHZsivSPjD+0x8ef8AhHLSxX4naksc+VlEbKpIwe4XI/Cvn8bg89cqc1XVm7dT6l8QcK0GsPHByvJO2qt99/0P/9k="
			class="w-full h-full object-cover lazy"
			data-srcset="/photos/amtlznbnx90u/xl.jpg"
			data-sizes="auto"
			alt=""
		/>
	</picture>
</section>

<section class="my-16">
	<div class="flex justify-center">
		<a href="/">
			<picture class="w-28 h-28 md:w-36 md:h-36 rounded-full">
				<img
					src="data:image/jpeg;charset=utf-8;base64,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgoBAgICAgICBQMDBQoHBgcKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCv/AABEIABAAEAMBIgACEQEDEQH/xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/APmX9o/9oHx/8PPAdz4i8OeG2v5oIyyWqA5cjtwCfyBq/wDBf4++PfiJ8IoPEGu+HnsppoQz20g+ZCR0NeH/ALTPx18YeG9KGsWHh5rywiINwqYyF7kZrpfg58WPE/iHwbBq1tpXlWDxhsYxxigD/9k="
					alt=""
					class="lazy w-28 h-28 md:w-36 md:h-36 rounded-full"
					data-sizes="auto"
					data-srcset="/photos/inhtssbma3kn/xl.jpg"
				/>
			</picture>
		</a>
	</div>
	<div class="text-center pb-2 px-6">
		<a href="/" class="inline-flex">
			<h1
				class="text-2xl md:text-3xl font-bold leading-normal text-neutral-900 dark:text-neutral-100"
			>
				Phearak S. Tha
			</h1>
		</a>
		<p class="leading-normal text-neutral-700 dark:text-neutral-400 mb-2">
			Software Engineer • Photographer
		</p>
	</div>
	<div class="flex justify-center">
		<a href="https://twitter.com/thasophearak" class="mx-2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 16 16"
				class="w-6 h-6 transition-colors text-neutral-600 hover:text-neutral-900  dark:text-neutral-400 dark:hover:text-neutral-100"
			>
				<path
					d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
				></path>
			</svg>
		</a>
		<a href="https://github.com/thasophearak" class="mx-2"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 16 16"
				class="w-6 h-6 transition-colors text-neutral-600 hover:text-neutral-900  dark:text-neutral-400 dark:hover:text-neutral-100"
			>
				<path
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
		></a>
		<a href="https://www.youtube.com/thasophearak" class="mx-2"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 16 16"
				class="w-6 h-6 transition-colors text-neutral-600 hover:text-neutral-900  dark:text-neutral-400 dark:hover:text-neutral-100"
			>
				<path
					d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
				></path></svg
		></a>
	</div>
</section>

<section class="px-6 max-w-3xl mx-auto">
	<a href="/sunset-at-its-finest">
		<div class="relative h-96 w-full rounded-2xl overflow-hidden group mb-16">
			<picture
				class="absolute top-0 left-0 w-full h-full rounded-2xl transition duration-[1s] ease-in group-hover:scale-125"
			>
				<img
					src="data:image/jpeg;charset=utf-8;base64,/9j/2wCEAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgoBAgICAgICBQMDBQoHBgcKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCv/AABEIAAsAEAMBIgACEQEDEQH/xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/APGvFP8AwUX8G6ZKPOu0H1IrzD4pf8FUPh3bW/2c3gdumEUn/wDVXzF4isLO7vVFzbq/+9Xknx10TSrDy2s7FIySCdvrXyeD4WwzxVLDqR+q1c+eLyudanG3Im7Pqf/Z"
					alt=""
					class="lazy w-full h-full object-cover rounded-2xl"
					data-sizes="auto"
					data-srcset="/photos/cpan9pro7x8d/xl.jpg"
				/>
			</picture>
			<div
				class="absolute bottom-0 w-full transition ease-out duration-1000 after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-t after:from-[#000] z-10 group-hover:translate-y-full"
			>
				<h2
					class="relative z-20 text-2xl md:text-3xl font-bold leading-normal p-4 text-neutral-100 transition translate-x-0"
				>
					Sunset at its finest
				</h2>
			</div>
		</div>
	</a>
	<a href="/virachey-the-raw-beauty-of-nature">
		<div class="w-full mb-16">
			<h2 class="font-bold leading-normal text-2xl md:text-3xl">
				Virachey — The raw beauty of nature
			</h2>
		</div>
	</a>
</section>
<footer
	class="flex flex-col w-full text-center px-6 my-16 text-neutral-500 dark:text-neutral-400"
>
	<p>Copyright © Phearak S. Tha. All Rights Reserved.</p>
</footer>
