<div class="my-16">
	<div class="flex justify-center">
		<a href="/">
			<picture class="w-28 h-28 md:w-36 md:h-36 rounded-full">
				<img src="" alt="" class="w-28 h-28 md:w-36 md:h-36 rounded-full" />
			</picture>
		</a>
	</div>
</div>
