<section class="mx-auto">
	<h3
		class="px-6 xs:px-0 text-lg md:text-xl font-bold sm:text-2xl max-w-3xl mx-auto my-8 md:my-10 text-neutral-800 dark:text-neutral-100"
	>
		{{ .Subheading }}
	</h3>
</section>
