
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input {
		@apply text-lg w-full h-16 px-4 pt-6 pb-1 dark:bg-neutral-800 bg-neutral-100 transition outline-none border-0 border-b-8 rounded-lg dark:border-b-neutral-700 border-b-neutral-500 hover:dark:border-b-neutral-600 focus:dark:border-b-blue-600 focus:ring-0;
	}
	.label {
		@apply absolute text-sm top-1 left-4 text-neutral-400;
	}
	.button {
		@apply py-4 px-6 bg-blue-600 text-white rounded-full font-bold leading-none w-full hover:ring-4 focus:ring-0 focus:outline-0 transition;
	}
}

:root {
	--transition-photos: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
::selection {
	@apply text-white bg-blue-600;
}

.grid {
	display: grid;
	grid-template-columns: 0.75fr 10px 1.25fr;
}
.gutter-col {
	grid-row: 1/-1;
	cursor: col-resize;
	background-color: #333;
}
.gutter-col-1 {
	grid-column: 2;
}
.editor-wrap {
	height: calc(100vh - 56px);
}
.moul-content-photos img {
	width: 350px;
	height: auto;
}
.moul-content-photos.is-grid img {
	width: 100%;
	height: 100%;
}
.moul-darkbox-view::before {
	opacity: 1;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-image: var(--bg-active);
	will-change: transform;
	transition: all var(--transition-photos);
}
.moul-darkbox-btn.is-prev {
	top: calc(50vh - 18px);
}
.moul-darkbox-btn.is-next {
	top: calc(50vh - 18px);
}
.moul-content-photos {
	margin-bottom: 16px;
}
.moul-content-photos:not(.is-grid) .relative {
	display: flex;
	justify-content: space-between;
}
